.container {
  padding-bottom: 18px;
  border-bottom: 1px solid rgb(234, 234, 234);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerLeft img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
}

.headerLeft h1 {
  margin-left: 30px;
  margin-right: 15px;
  font-size: 2rem;
  font-weight: 600;
}

.headerLeft a {
  font-size: 0.9rem;
  color: rgb(180, 180, 180);
}

.headerRight {
  display: flex;
  position: absolute;
  right: 250px;
}


.introContainer {
  /* width: fit-content; */
  min-height: 150px;
  margin-top: 15px;
  padding: 20px 15px;
  background: rgb(228, 228, 228);
  border-radius: 8px;
  font-size: 1rem;
}

.reviews {
  width: 100%;
  display: flex;
  justify-content: end;
  
}
.heartIcon {
  font-size: 50px;
  color: rgb(255, 30, 0);
}

.reviewScore {
  font-size: large;
  padding-top: 3px;
}
.user {
  padding-top: 30px;
}