.productCard {
  cursor: pointer;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 7px;
}

.cardThumbnail {
  overflow: hidden;
}

.cardBody {
  padding: 10px;
}

.productCard img {
  width: 100%;
  aspect-ratio: 1;
  background-size: cover;
  transition: all 0.2s linear;
}

.productCard img:hover {
  transform: scale(1.2);
}

.productTitle {
  margin: 10px 0;
  width: 95%;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}

.textRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.rowLabel {
}
