.noticeMain{
	display: flex;
	margin-top: 50px;
}

.noticeAside{
	width: 130px;
}

.noticeNotice{
	font-weight: bold;
	font-size: 20px;

}

.noticeAside li{
	margin-top: 15px;
	list-style: none;
	font-size: 15px;
}

.noticeSection{
	margin: auto;
	width: 60%;


	
}
.noticeSectionDiv{
	margin-bottom: 3%;
	display: flex;
	height: 80px;
	border: 2px solid rgba(121, 121, 121, 0.5);
}

.noticeMegaPohnIcon{
	margin: auto 0 auto 40px;

	font-size: 50px;
	
}

.noticeSectionDivDiv{
	margin-left: 5%;
	align-content: center;
	color: rgba(121, 121, 121);
	font-size: 40px;
	font-weight: 600;

}


.noticeDivTop{
	border-bottom: 2px solid rgba(121, 121, 121, 0.5);;
}

.noticeDiv{
	height: 50px;
	border: 2px solid rgba(121, 121, 121, 0.5);
	border-top: 0px;
	display: flex;
	justify-content: space-between;

}



.noticeQ{
	margin: 10px 0;
	margin-left: 30px;
	background-color: rgb(8, 115, 228);
	color: white;
	width: 30px;
	height: 30px;
	text-align: center;
	align-content: center;
	border-radius: 30px

}


.noticeA{
	margin: 5px 0;
	margin-left: 30px;
	background-color: rgb(255, 106, 47);
	color: white;
	width: 30px;
	height: 30px;
	text-align: center;
	align-content: center;
	border-radius: 30px

}
.noticeTitle{
	align-content: center;
	text-align: left;
	width: 60%;
	word-break: break-all;
	overflow:auto;
}

.noticeContent{
	border: 2px solid rgba(121, 121, 121, 0.5);
	border-top: 0px;
	display: flex;
	word-break: break-all;
	overflow:auto;
}

.noticeContentDetail{
	margin: 5px 10px;
	line-height: 1.5;
	color: rgb(0, 106, 219);
	width: 80%;
	word-break: break-all;
	overflow:auto;
}


.noticeIc{
	margin-right: 5px;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.noticeSysdate{
	margin-right: 15px;
	align-content: center;
	
}

.noticePage{
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	
}

.noticePage li{
	
	margin-top: 30px;
	padding: 0.3rem 0.6rem;
	

	
}

.noticePageUpDownBlock{
	background-color: rgb(104, 104, 104);
}

.noticeMove{
	margin-left: 35px;
	margin-bottom: 35px;
}


.noticeMoveButton{

	margin: 0 5px 0 5px;
	background-color: rgb(14, 187, 255);
	color: white;
	font-size: 15px;
	font-weight: 550;
	width: 100px;
	height: 50px;
	border-radius: 5px;
}
.nullNotice{
	justify-content: center;
	align-content: center;
	text-align: center;
	font-size: 30px;
	background-color: rgb(203, 202, 202);
}