.faqInsertMain {
	display: flex;
	margin-top: 50px;
}

.faqSection {
	width: 70%;
	margin: 0 auto;
}

.faqInquirtTop {
	display: flex;
	border: 2px solid rgba(121, 121, 121, 0.3);
}

.faqInquirt {
	display: flex;
	border: 2px solid rgba(121, 121, 121, 0.3);
	border-top: 0;
}

.faqInquirtName {
	align-content: center;
	height: 80px;
	width: 150px;
	background-color: rgb(223, 223, 223);
}

.faqInquirtName > div {
	margin-left: 20%;
}

.faqInquirtNameInput {
	margin: auto;
	width: 75%;
	height: 40px;
	border-radius: 5px;
	border: 2px solid rgba(121, 121, 121, 0.3);
	font-size: 18px;
	word-break: keep-all;
}

.faqIpquirtContent {
	display: flex;
	border: 2px solid rgba(121, 121, 121, 0.3);
	border-top: 0;
	height: 160px;
}

.faqIpquirtContentInput {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	margin: auto;
	width: 50%;
	height: 100px;
	border-radius: 5px;
	border: 2px solid rgba(121, 121, 121, 0.3);
	resize: none;
}

.faqInquirtButton {
	margin-top: 15px;
	text-align: center;
	align-content: center;
}

.faqInquirtButtonInquirt {
	margin: 0 5px;
	background-color: rgb(14, 187, 255);
	color: white;
	font-size: 15px;
	font-weight: 550;
	width: 100px;
	height: 50px;
	border-radius: 5px;
}

.faqInquirtButtonMenu {
	border: 2px solid rgba(121, 121, 121, 0.3);
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-size: 15px;
	font-weight: 550;
	width: 100px;
	height: 50px;
	border-radius: 5px;
}
.faqContent{
	align-content: center;
	text-align: left;
	width: 100%;
	margin-left: 17%;
}
.faqButtonArea{
	margin-top: 15px;
	text-align : center;
	align-content:center;

}
.faqListButton{
	border: 2px solid rgba(121, 121, 121, 0.3); 
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-size: 15px;
	font-weight: 550;
	width: 100px;
	height: 50px;
	border-radius: 5px;
}
.faqNewButton{
	margin: 0 5px 0 5px;
	background-color: rgb(14, 187, 255);
	color: white;
	font-size: 15px;
	font-weight: 550;
	width: 100px;
	height: 50px;
	border-radius: 5px;
}
.Newfaq{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.faqNewContent{
	width: 60%;
	resize: none;
}
.faqNewArea{
	margin-top: 3%;
}
