.navigation {
  padding: 5px 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
}

.navigation ul {
  display: flex;
}

.categoryIcon {
  font-size: 2.3rem;
  cursor: pointer;
  margin-right: 25px;
}

.categoryIcon svg:hover {
  color: var(--primary-color);
}

.tab {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 25px;
}

.tab:hover {
  color: var(--primary-color);
}

.list svg {
  display: inline-block;
  margin-right: 5px;
}

.list span {
}

.right {
  display: flex;
}

.right li {
  margin-left: 25px;
  color: rgb(171, 171, 171);
}

.userInfoContainer {
  display: flex;
  align-items: center;
  color: rgb(53, 53, 53) !important;
}

.logoutContainer {
  display: flex;
  align-items: center;
}

.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.paymentBtn {
  font-size: 0.8rem;
  border-radius: 3px;
  background-color: black;
  color: white;
  padding: 3px 5px;
  margin-left: 10px;
  cursor: pointer;
}
