.container {
	height: 100%;
	display:flex;
	
}
.roomList {
	width: 35%;
	padding-top: 30px;
	max-height: 100%;
	overflow: auto;
	border-right: 1px solid lightgray;
}
.roomCount {

	font-size: larger;
	font-weight: bold;
	padding-bottom: 30px;
	padding-left: 20px;
	border-bottom: 1px solid lightgray;
}
.list {
	display: flex;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 5px;
	padding-left: 5px;
	
}
.list:hover {
	background-color: rgb(220, 220, 220);
}

.profileImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid lightgray;
}

.productImg {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 1px solid lightgray;
	
}

.shortcut {
	width: 100%;
	padding-left: 7px;
	padding-top: 3px;		
}

.name {
	font-weight: bold;
	padding-bottom: 5px;
}

.msgArea {
	display: flex;
	justify-content: space-between;
}

.lastMsg {
	font-size: small;
	color: gray;
	width: 300%
}

.lastMsgDate {
	font-size: small;
	color: gray;
	width: 100%;
	text-align:right;
	padding-right: 3px;
}

.chatRoom {
	padding-top: 20px;
	max-height: 100%;
	width: 65%;
	overflow: auto;
	
}

.chatRoomHeader {
	display: flex;
	border-bottom: 1px solid lightgray;
	height: 61px;
	padding-left: 20px;
	justify-content: space-between;
	align-items: center;
}
.chatProfile {
	display: flex;
	padding-bottom: 10px;
	
}
.chatName {
	padding-top: 9px;
	padding-left: 18px;
	font-weight: bold;
	font-size: larger;
	
}

.chatProduct {
	padding-right: 10px;
	padding-bottom: 10px;
}

.connectProduct {
	padding-bottom: 3px;
	font-size: medium;
}

.chatProductInfo {
	display: flex;
	align-items: center;
}

.price {
	font-weight: bold;
}

.chatProductTitle {
	text-align: center;
	color: gray;
	font-size: medium;
}

.chatting {
	
	
}

.chatView {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	height: 600px;
	border-bottom: 1px solid lightgray;
	
}

.opponent {
	display: flex;
	align-items:end;
	margin-bottom: 10px;
}

.opponentMsg {
	border: 1px solid lightgray;
	border-radius: 30px;
	padding : 15px 15px 15px 15px
}

.opponentTime {
	font-size: smaller;
	color: lightgray;
	padding-left: 10px;
}

.me {
	display: flex;
	align-items:end;
	margin-bottom: 10px;
	justify-content: flex-end;
}

.readMsg {
	text-align: right;
	padding-right: 10px;
	font-size: medium;
	color: var(--primary-color);
	padding-bottom: 3px;
}

.meMsg {
	border: 1px solid lightgray;
	color: white;
	background-color: var(--primary-color);
	border-radius: 30px;
	padding : 15px 15px 15px 15px;
	
}

.meTime {
	font-size: smaller;
	color: lightgray;
	padding-right: 10px;
}

.chatInput {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 69px;
}

.inputMsg {
	width: 80%;
	border-radius: 30px;
	height: 50%;
	background-color: rgb(245, 245, 245);
	border: 0;
	padding-left: 10px;
}

.inputMsg::placeholder {
	color: rgb(200, 200, 200);
}

.inputMsg:focus {
	outline: 1px solid lightgray;
}